
.topnav {
    background-color: #262626;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #B5B5B5;
    color: black;
}

.topnav a.active {
    background-color: #29C4C1;
    color: white;
}
