/* Create two equal columns that floats next to each other */
body
{
	margin: 0;
	padding: 0;
	background: url('concrete-texture.png');
	font-family: helvetica;
}

.column {
    text-align: center;
    float: left;
    width: 48%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    text-align: center;
    content: "";
    display: table;
    clear: both;
}

.base_container
{
  width: 90%;
	background: rgba(255,255,255,0.8);
	margin: 5px auto;
	box-shadow: 0 15px 40px rgba(0,0,0,.3);
  text-align: center;
}
