{% extends 'base.html' %}
<!-- https://www.fir3net.com/Web-Development/Django/django.html -->
{% block content %}
  {% load static %}
  <html>
    <head>
        <meta charset="utf-8">
        <title> Kirjautumissivu </title>
        <link rel="stylesheet" href={% static "css/login_style.css" %}>
    </head>
    <body>
      {% if user.is_authenticated %}
        <h1> Et voi kirjautua sisään ollessasi jo kirjautuneena. </h1>
        <h3> Kirjaudu ulos, mikäli haluat kirjautua uudelleen sisään </h3>
        {% else %}
        <p>
        </p>
        <div class="container">
            <div class="left"></div>
            <div class="right">
                <div class="formBox">
                    <form name="LoginForm" method="post">
                      <p> Käyttäjätunnus </p>
                      {% csrf_token %}
                      {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                      {% endif %}
                      <input type="text" name="username" autofocus required id="username" maxlength="150" />
                      <p> Salasana </p>
                      <p><input type="password" name="password" id="password"></p>
                      <p><input type="submit" name="" value="Kirjaudu"></p>
                    </form>
                    <div id="tunnus">
                      <p name="tunnus" id="tunnus"> Ei vielä tunnusta: </p>
                    </div>
                    <p>
                      <input type="button" value="Luo käyttäjätunnus" onclick="location.href='/register/'">
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
  </html>
{% endblock %}
