{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <form method="post">
    <head>
        <meta charset="utf-8">
        <title> Profiili </title>
        <link rel="stylesheet" href={% static "css/registration_style.css" %}>
    </head>
    <body>
      {% if user.is_authenticated %}
        <p>
        </p>
        <div class="container">
            <div class="left"></div>
            <div class="right">
                <div class="formBox">
                    <form name="PasswordChangeForm" action="/profile/" method="post">
                      <h3> Muuta käyttäjätietoja </h3>
                      {% csrf_token %}
                      {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                      {% endif %}
                      <p> Vanha salasana </p>
                      <p>
                          <input type="password" name="old_password" id="old_password">
                      </p>
                      <p> Uusi salasana </p>
                      <p>
                          <input type="password" name="new_password1" id="new_password1">
                      </p>
                      <p> Vahvista uusi salasana </p>
                      <p>
                          <input type="password" name="new_password2" id="new_password2">
                      </p>
                      <p>
                          <input type="submit" value="Tallenna">
                      </p>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <h1> Muuttaaksesi salasanaa, sinun tulee olla kirjautunut </h1>
        {% endif %}
    </body>
  </form>
{% endblock %}
