{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <form method="post">
    <head>
        <meta charset="utf-8">
        <title> Tunnusten luonti </title>
        <link rel="stylesheet" href={% static "css/registration_style.css" %}>
    </head>
    <body>
      {% if user.is_authenticated %}
      <h1> Et voi rekisteröityä ollessasi kirjautunut </h1>
      <h3> Kirjaudu ulos, jotta voit luoda uuden käyttäjätunnuksen </h3>
      {% else %}
        <p>
        </p>
        <div class="container">
            <div class="left"></div>
            <div class="right">
                <div class="formBox">
                    <form name="RegistrationForm" action="/register/" method="post">
                        <p> Käyttäjätunnus </p>
                        {% csrf_token %}
                        {% if next %}
                          <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}
                        <input type="text" name="username" autofocus required id="username" maxlength="150" />
                        <p> Etunimi </p>
                        <p>
                            <input type="text" name="first_name" id="first_name">
                        </p>
                        <p> Sukunimi </p>
                        <p>
                            <input type="text" name="last_name" id="last_name">
                        </p>
                        <p> Sähköposti </p>
                        <p>
                            <input type="text" name="email" id="email">
                        </p>
                        <p> Salasana </p>
                        <p>
                            <input type="password" name="password1" id="password1">
                        </p>
                        <p> Toista salasana </p>
                        <p>
                            <input type="password" name="password2" id="password2">
                            <input type="submit" name="" value="Rekisteröidy">
                        </p>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
  </form>
{% endblock %}


<!-- https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html -->
{% block javascript %}
  <script>
    $("#username").change(function () {
      var username = $(this).val();

      $.ajax({
          url: '/ajax/validate_username/',
          data: {
            'username': username
          },
          dataType: 'json',
          success: function (data) {
            if (data.is_taken) {
              alert(data.error_message);
            }
          }
      });

    });
  </script>
{% endblock %}
