{% extends 'base.html' %}
<!-- https://www.fir3net.com/Web-Development/Django/django.html -->
{% block content %}
  {% load static %}
  <html>
    <head>
        <meta charset="utf-8">
        <title> Etusivu </title>
        <link rel="stylesheet" href={% static "css/home_style.css" %}>
    </head>
    <div class="base_container">
      <body>
  <!--        <div class="title"><h1> Kirjautumissivu</h1></div>  -->
          <p>
          </p>
          {% if user.is_authenticated %}
          <h1> Tervetuloa {{ user.first_name }}! </h1>
          {% else %}
          <h1> Tervetuloa!</h1>
          <h3><a href="/login/"> Kirjaudu sisään</a> tai <a href="/register/">rekisteröidy käyttäjäksi! </a> </h3>
          {% endif %}
      </body>
    </div>
  </html>
{% endblock %}
